body {
  margin-left: 30px;
  background-image:url("https://png.pngtree.com/thumb_back/fw800/back_pic/00/02/93/18561bd7c79a523.jpg");

}
.heading{
    font-size: 80px;
    color:#ffffff;
    text-align: center;
}
